:root {
    --bow-sticker: url('bow.png');
}

.memory-body {
    margin: 0; padding: 0;
    height: 100vh;
    display: flex; justify-content: center; align-items: center;
    overflow: hidden; background-color: #ffeef2;
    position: relative; font-family: 'Marck Script', cursive;
}

.memory-body::before {
    content: ""; position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: var(--bow-sticker);
    background-size: 80px; background-repeat: repeat;
    opacity: 0.2; z-index: 1;
}

.main-content {
    position: relative; z-index: 10;
    display: flex; flex-direction: column; align-items: center;
    width: 100%;
}

/* ФИКСИРОВАННАЯ РАМКА ДЛЯ ФОТО */
.photo-container {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 40px;
    border: 12px solid white;
    box-shadow: 0 15px 35px rgba(255, 133, 162, 0.4);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.memory-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинка заполнит квадрат без искажений */
    display: block;
}

.quiz-question {
    font-size: 4rem; color: #ff4d6d;
    margin-bottom: 30px; text-align: center;
    text-shadow: 2px 2px 0px white;
}

.btn-group {
    display: flex; gap: 30px;
    justify-content: center; align-items: center;
    min-height: 120px;
}

.action-btn-pink {
    background-color: #ff7495;
    color: white; font-size: 2rem;
    padding: 15px 50px; border: none;
    border-radius: 60px; cursor: pointer;
    font-family: 'Marck Script', cursive;
    box-shadow: 0 8px 20px rgba(255, 77, 109, 0.4);
    transition: all 0.3s ease;
}

/* ЧАСТИЦЫ */
.boom-particle {
    position: absolute; width: 12px; height: 12px;
    border-radius: 50%; pointer-events: none; z-index: 1000;
    animation: flyOut 2.5s cubic-bezier(0.1, 0.8, 0.3, 1) forwards;
}

@keyframes flyOut {
    0% { transform: translate(0, 0) scale(1); opacity: 1; }
    100% { transform: translate(var(--x), var(--y)) scale(0); opacity: 0; }
}